@model DoAnLapTrinhWebNC.Models.ProductModel

@{
    Layout = "_Layout";
}
<div class="card bg-primary">
    <h1 class="card-header">
        @Model.ProductName
    </h1>
    <div class="card-body">
        <p class="card-text">
            @Model.Price
        </p>
    </div>
</div>

