@{
    ViewData["title"] = "Xoa db";
}

<h1>@ViewData["title"]</h1>
<p>
    Ban co chac chan xoa ?
</p>

<form action="" method="post">

    <button class="btn btn-danger" type="submit">
        Xoa Db
    </button>

</form>
<a asp-action="Index">Thong tin Db</a>